<app-header></app-header>

<div *ngIf="incomplete;else completeBlock" class="overlay">
  <div class="right-panel">
    <app-complete-profile></app-complete-profile>
  </div>
</div>


<ng-template #completeBlock>
  <a href="javascript:void(0)" (click)="addProject()">
    <img src="assets/plus.png" class="add-icon" style="width:3rem;height:3rem" alt="">
  </a>
  <div class="bg-box">
  <div class="p-5 content-box">
    <h5 style="font-family: Helvetica; color:white;">No Projects found</h5>
  </div>
  </div>

</ng-template>
